{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws-cn:iam::{{ cis.account_id }}:user/awscli-admin"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}